@import '../../../app/styles/variables';

.spinner {
  animation: spinner-animation 1.1s infinite linear;
  border: 4px solid map-get($colors, very-light-gray-secondary);
  border-left: 4px solid transparent;
  border-radius: 50%;
  display: inline-block;
  font-size: 35px;
  height: 35px;
  margin: 0;
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  transform: translateZ(0);
  width: 35px;

  &:after {
    border-radius: 50%;
    height: 35px;
    width: 35px;
  }

  @keyframes spinner-animation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
