@import '../../../app/styles/variables';

.paginator {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0 0 0 auto;
  padding: 0;

  &__item {
    border-right: 2px solid map-get($colors, dark-gray-primary);
    margin: 5px 0;
    padding: 0 10px;

    &:last-child {
      border-right: none;
      padding: 0 0 0 10px;
    }

    &-button {
      background: transparent;
      border: none;
      color: map-get($colors, strong-blue-primary);
      cursor: pointer;
      font-size: 1rem;
      padding: 0;
    }
  }
}
