<ul class="paginator">
  <li class="paginator__item"><button class="paginator__item-button" (click)="handlePreviousPageClick($event)">&lt;</button></li>
  <li *ngFor="let pageNumber of totalPages" class="paginator__item"><button class="paginator__item-button" (click)="handlePageClick($event, pageNumber)">{{(pageNumber + 1)}}</button></li>
  <li class="paginator__item"><button class="paginator__item-button" (click)="handleNextPageClick($event)">&gt;</button></li>
</ul>
