/**
  Colors:
  Named using https://www.colorhexa.com/
 */
$colors: (
  black: #000,
  dark-gray-primary: #a1a1a1,
  dark-red-primary: #8b0000,
  strong-blue-primary: #2480b9,
  very-dark-gray-primary: #333,
  very-light-gray-primary: #f1f1f1,
  very-light-gray-secondary: #e1e1e1
);

/**
    Breakpoints:
    https://www.npmjs.com/package/breakpoint-sass
 */
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;
$small-only: 0 $small;
$small-medium-only: $small $medium;
$medium-large-only: $medium $large;
$large-extra-large-only: $large $extra-large;
