@import '~breakpoint-sass/stylesheets/breakpoint';
@import '../../styles/variables';

.character-details {
  position: relative;

  &__image {
    border-radius: 50%;
    overflow: hidden;
    position: relative;

    &::after {
      background-color: map-get($colors, black);
      content: '';
      display: block;
      height: 100%;
      left: 0;
      opacity: 0.5;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &-element {
      display: block;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  &__title {
    color: map-get($colors, very-light-gray-primary);
    font-size: 1.25rem;
    margin: 0;
    padding: 0 20px;
    text-align: center;

    @include breakpoint($small-medium-only) {
      font-size: 0.9rem;
    }

    &--secondary {
      font-size: 0.8rem;

      @include breakpoint($small-medium-only) {
        font-size: 0.7rem;
      }
    }

    &-container {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &--secondary {
    display: flex;

    .character-details {
      &__image {
        max-width: 50px;
        flex-shrink: 0;
      }

      &__title {
        color: map-get($colors, very-dark-gray-primary);
        font-size: 1.2rem;
        padding: 0;

        &--secondary {
          font-size: 0.9rem;
        }

        &-container {
          align-items: flex-start;
          padding: 0 10px;
          position: static;
        }
      }
    }
  }
}
