<article [ngClass]="{ 'character-details': true, 'character-details--secondary': (type === 'secondary') }">
  <div class="character-details__image">
    <img class="character-details__image-element" src="{{characterData.thumbnail.path}}/standard_fantastic.{{characterData.thumbnail.extension}}" alt="{{characterData.name}} Picture">
  </div>
  <div class="character-details__title-container">
    <h4 class="character-details__title">{{characterData.name}}</h4>
    <h5 class="character-details__title character-details__title--secondary">ID: {{characterData.id}}</h5>
  </div>
</article>
