<main [ngClass]="{ 'app': true, 'app--list-view': (viewType === 'list') }">
  <header class="app__header">
    <div class="app__container">
      <div class="app__header-logo">
        <img src="../assets/images/logo-marvel.svg" alt="Marvel Logo">
      </div>
      <div class="app__header-container">
        <h1 class="app__header-title">Character List</h1>
        <ul class="app__header-actions">
          <li class="app__header-actions-item">
            <button class="app__header-actions-button" type="button" (click)="handleToggleViewClick($event, 'grid')">Grid</button>
          </li>
          <li class="app__header-actions-item">
            <button class="app__header-actions-button" type="button" (click)="handleToggleViewClick($event, 'list')">List</button>
          </li>
        </ul>
      </div>
      <input [(ngModel)]="searchText" class="app__input" [disabled]="loadingData || errorMessage" placeholder="Type here to search characters" type="text">
    </div>
  </header>
  <section class="app__container">
    <div *ngIf="loadingData" class="app__spinner">
      <app-spinner></app-spinner>
    </div>
    <div *ngIf="!loadingData && errorMessage">
      <h2 class="app__error-title">Oops! An error has occurred:</h2>
      <p class="app__error-message">{{errorMessage}}</p>
    </div>
    <section class="app__character-details-container">
      <div *ngFor="let characterData of characterDataList | characterSearch : 'name' : searchText" class="app__character-details-container-element">
        <app-character-details [characterData]="characterData" [type]="(viewType === 'list') ? 'secondary' : null"></app-character-details>
      </div>
    </section>
    <div class="app__paginator">
      <app-paginator *ngIf="resultsTotal" [resultsPerPage]="12" [resultsTotal]="resultsTotal" (onNextPageClick)="handlePaginatorNextPreviousPageClick($event)" (onPageClick)="handlePaginatorPageClick($event)" (onPreviousPageClick)="handlePaginatorNextPreviousPageClick($event)"></app-paginator>
    </div>
    <footer *ngIf="attributionText" class="app__footer"><a class="app__footer-link" href="http://marvel.com">{{attributionText}}</a></footer>
  </section>
</main>
