@import '~breakpoint-sass/stylesheets/breakpoint';
@import '../app/styles/variables';

.app {
  &__header {
    background-color: map-get($colors, very-light-gray-secondary);
    padding: 0 15px 15px;

    &-logo {
      width: 175px;
    }

    &-container {
      display: flex;
      margin: 5px 0 10px;
    }

    &-title {
      font-size: 1.5rem;
      font-weight: 300;
      margin: 0;
      padding-right: 10px;
    }

    &-actions {
      display: flex;
      list-style-type: none;
      margin: 0 0 0 auto;
      padding: 0;

      &-item {
        border-right: 2px solid map-get($colors, dark-gray-primary);
        max-height: 2rem;
        padding: 0 10px 0 0;

        &:last-child {
          border-right: none;
          padding: 0 0 0 10px;
        }
      }

      &-button {
        background: transparent;
        border: none;
        color: map-get($colors, strong-blue-primary);
        cursor: pointer;
        font-size: 1.5rem;
        padding: 0;
      }
    }
  }

  &__input {
    font-size: 1rem;
    padding: 15px;
    width: 100%;

    &::placeholder {
      color: map-get($colors, dark-gray-primary);
      font-style: italic;
    }
  }

  &__container {
    margin: 0 auto;
    max-width: 100%;

    @include breakpoint($small) {
      display: flex;
      flex-direction: column;
    }

    @include breakpoint($medium-large-only) {
      width: $medium;
    }

    @include breakpoint($large-extra-large-only) {
      width: $large;
    }

    @include breakpoint($extra-large) {
      width: $extra-large;
    }
  }

  &__spinner {
    padding: 15px;
    text-align: center;
  }

  &__error {
    &-title {
      margin: 15px 0 0;
    }

    &-message {
      color: map-get($colors, dark-red-primary);
      margin: 10px 0 0;
    }
  }

  &__character-details {
    &-container {
      display: flex;
      flex-wrap: wrap;

      @include breakpoint($small-only) {
        justify-content: center;
      }

      &-element {
        padding: 15px;

        @include breakpoint($small) {
          width: 25%;
        }
      }
    }
  }

  &__paginator {
    margin-top: 15px;
  }

  &__footer {
    padding: 15px;

    &-link {
      color: map-get($colors, dark-gray-primary);
      font-size: 0.8rem;
      text-decoration: none;
    }
  }

  &--list-view {
    .app {
      &__character-details {
        &-container {
          &-element {
            border-bottom: 1px solid map-get($colors, dark-gray-primary);
            width: 100%;
          }
        }
      }
    }
  }
}
