@import 'app/styles/variables';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: map-get($colors, very-light-gray-primary);
  color: map-get($colors, very-dark-gray-primary);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  overflow-y: scroll;
}
